VITE_CALL_MANAGEMENT_URL=http://localhost:8001
VITE_CALL_MANAGEMENT_WS_URL=ws://localhost:8001
VITE_CALL_ANALYSIS_URL=http://localhost:8002
VITE_USER_MANAGEMENT_URL=http://localhost:8003
VITE_ASSIGNMENT_URL=http://localhost:8004
VITE_ADMIN_URL=http://localhost:8005
VITE_CITIZEN_URL=http://localhost:8006
VITE_CITIZEN_WS_URL=ws://localhost:8006
